{% extends 'base.html' %}

{% block title %}
    profile
{% endblock %}

{% block content %}
{#    <h1>{{ user.username }}</h1>#}
    <div class = "content-section">
        <div class="media">
            <img src="{{ user.profile.profile.url }}" alt="Image" class="rounded-circle account-img">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email}}</p>
            </div>
        </div>
    </div>
{% endblock %}